*{margin:0;
    padding: 0;
}
.wrapper{width: 1440px;
    background-color: rgb(223, 215, 215);
    font-family: Arial, Helvetica, sans-serif;
}
section{
    padding-top: 50px;
}
header{width:1440px;height: 650px;background: #F0FFF0;
    
}
.container{
    display: block;
}
nav{
    display: flex;padding-top: 20px;
}
ul{padding-top: 15px;}
nav a img{width: 180px;height: 60px;
}
nav ul li{list-style: none;
    display: inline;
    padding: 10px;
    font-size: 25px;
}
.btn{
    border-radius: 10px;
    font-weight: 700;
}
nav ul li a{color: black; font-weight: bold;
    text-decoration: none;color: rgb(26, 75, 26);
}

.main-contein{height: 600px;padding-top: 50px;
    display: block;
    grid-template-areas: 'lest-contein right-contein';
   display: flex;
   margin-left: 160px;
}
.left-contein{overflow: hidden;
    width: 500px;
}
.left-contein h1,p,button{font-weight: bolder;}
.left-contein h6{color: red;font-weight: bold;}
.left-contein h1 span{
    color: green;
}
.right-contein{overflow: hidden;
    width: 600px;
}
.right-contein img{width: 600px;
}

.card-img{
    width: 66px;height: 85px;margin:auto;margin-top: 20px;
}
.cd-bg{
    background-color: rgb(216, 206, 184);box-shadow: 1px 1px 50px beige;
    border-radius: 10px;
}
.card-mr{
    margin-left:50px;
}
.online{
    text-align: center;font-weight: 700;
    margin-bottom: 50px;
}
.secound-deck-card{
    border-radius: 10px;
}
.secound-card-img{
    width: 300px;height:250px;margin: auto;margin-top: 20px;
}
.card-footer{display: block;
    border: none;
    display: flex;
}
.text-position{
    padding-left: 120px;
}
.text-muted p i{
    margin-right: 5px;    
}
.testimonial{display: block;
    text-align: center;
    padding-bottom: 50px;
}
.contein{
    overflow: hidden;
    display: block;
}
.contein img{
    width:120px;height: 120px;
    margin-right: 20px;
    
}
.contein p{margin-top: 20px;
 width: 400px;
}

footer{
    display: block;
    background: #282531;
}
.footer-contein{
    color: white;
    margin-top: 120px;
}
.box-header{
    color: white;
    font-weight: 700;
}
.box{
    margin-top: 50px;
    
    
}
.box ul li{list-style: none;

}
.box ul li a{text-decoration: none;color: white;

}
.copy p{color: white;text-align: center;

}